<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
        <h3>VerbMaster</h3>
        <p>{{ translate('footer.slogan') }}</p>
        </div>
        <div class="footer-section contact">
            <h4>{{ translate('footer.contact') }}</h4>
            <ul>
                <li>
                    <div>
                        <i class="fa location"></i>
                    </div>
                    <p>{{address}}</p>
                </li>
                <li>
                    <div>
                        <i class="fa paper_plane"></i>
                    </div>
                    <p  id="clipboard"> {{email}}<i class="far fa-copy"></i></p>
                </li>
            </ul>
        </div>
        <div class="footer-section">
        <h4>{{ translate('footer.quickLinks') }}</h4>
        <ul>
            @for ( route of links; track route.name) {
                <li>
                    <a href="{{route.route}}">{{route.name}}</a>
                </li>
            }
        </ul>
        </div>
        <div class="footer-section languages">
            <h3>Languages</h3>
            <app-language-selector/>
        </div>
        
    </div>
    <div class="links_follow">
        <a [routerLink]="['/']" class="buymecoffee">
        <div class="coffeeLogo_container">
            <img src="/images/coffee.png" alt="">
        </div>
        <p>Buy me a Coffee</p>
        </a>
    </div>
    <hr>
    <div class="footer-bottom">
        <div class="container">
            
            <p>&copy; 2024 VerbsApp. {{ translate('footer.rights') }}</p>
      </div>
    </div>
  </footer>