<app-header/>
<section class="searching">
    <app-search/>
    <app-buttons class="buttons-container"/>
</section>
<section class="verbs">
        <app-regular-verb class="app_container" [verbs]="verbs" [verb_loading]="verb_loading"/>
        @defer () {
            <app-pagination 
            [totalPages]="totalPages"
            [currentPage]="currentPage" 
            (pageSelected)="pageSelected($event)"
            (nextPage)="nextPage()"
            (previousPage)="previousPage()"
            [limit]="limit"
            />
        } @placeholder (minimum 5s)  {
            <div class="loading_icon">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        }
</section>

