<!-- <header>
    <div class="nav_container">
        <div class="left_navbar">
            <div class="logo_container">
                <a [routerLink]="['/']">
                    <img class="verbsapplogo" src="/images/boticon.ico" alt="verbs app">
                </a>
            </div>
            <div class="left_navigation">
                    @for ( route of links; track route.name) {
                        <div class="links">
                            <a [routerLink]="route.route">{{route.name}}</a>
                        </div>
                    }
            </div>
        </div>
        
            <div class="wrapper_darkmode">
                <div class="dark-container">
                    <input type="checkbox" class="checkbox" id="chk">
                    <label for="chk" class="label-container">
                        <i class="fa fa-moon"></i>
                        <i class="fa fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>           
            </div>
        </div>
        <div class="menu_container">
            <div>
                <i class="fas menu"></i>
            </div>
        </div>
    </div>
</header> -->

<header class="header">
    <nav class="container nav">
      <div class="logo">
        <h1>VerbMaster</h1>
      </div>
      
      <button class="menu-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="nav-links" [class.active]="isMenuOpen">
        @for ( route of links; track route.name) {
            <li class="links">
                <a href="{{route.route}}">{{route.name}}</a>
            </li>
        }
        <li>
          <button class="theme-toggle" (click)="toggleTheme()">
            {{ isDarkMode ? '🌞' : '🌙' }}
          </button>
        </li>
    </div>
    </nav>
  </header>