<header>
    <div class="nav_container">
        <div class="left_navbar">
            <div class="logo_container">
                <a [routerLink]="['/']">
                    <img class="verbsapplogo" src="/images/boticon.ico" alt="verbs app">
                </a>
            </div>
            <div class="left_navigation">
                    @for ( route of links; track route.name) {
                        <div class="links">
                            <a [routerLink]="route.route">{{route.name}}</a>
                        </div>
                    }
            </div>
        </div>
        <div class="righ_navbar">
            <!-- <div class="right_navigation">
                <div class="register_container">
                    <a class="signin" [routerLink]="['/auth/signin']" routerLinkActive="router-link-active" >Sign In</a>
                    <a class="signup" [routerLink]="['/auth/signup']">Sign Up</a>
                </div>
            </div> -->
            <!-- <div class="options_navigation">
                <div class="img_users">
                    <img src="/images/boticon.ico" alt="user image">
                </div>
                <i class="fa set"></i>
            </div> -->
            <div class="wrapper_darkmode">
                <div class="dark-container">
                    <input type="checkbox" class="checkbox" id="chk">
                    <label for="chk" class="label-container">
                        <i class="fa fa-moon"></i>
                        <i class="fa fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>           
            </div>
        </div>
        <div class="menu_container">
            <div>
                <i class="fas menu"></i>
            </div>
        </div>
    </div>
</header>