<app-header/>
<section id="home" class="home">
    <div class="home_header scroll_movement">
        <div>
            <h1 class="text-focus-in">Feel free to browse through our +200 <a [routerLink]="['/verbs']">verbs</a>!</h1>
            <p class="text-focus-in">Stop mispronouncing verbs, practicing and improving verbs to increase your English level.</p>
            <!-- <a class="join_us text-focus-in" [routerLink]="['/auth/signup']">Join <span>Us</span></a> -->
        </div>
    </div>
    <app-faqs class="scroll_movement"/>
</section>
<app-footer class="scroll_movement"/>
