<div class="house_ico">
    <a [routerLink]="['/']">
        <i class="fa house"></i>
    </a>
</div>
<section class="politics">
    <div class="info_container">
    <h1>Policy Privacy</h1>
    <p>Verbs understands that your privacy is important to you. We are committed to respecting your privacy and protecting your personal data, which is any information that is capable of identifying you as an individual person.</p>
    <p>
        This Privacy Policy describes how we handle and protect your personal data in connection with taskApp activities on this web. Please see our <a [routerLink]="['/terms-and-conditions']">Terms and Conditions</a> of use this website for more information about policies in general.
    </p>
    <h3>Information we collect</h3>
    <p>Verbs collects personal data such as: your name, your lastname, e-mail address, country where you are from, the collection of personal data may be required for the operation of this website: the main purpose of this website is to create tasks </p>
    <p><b>***You do not have the obligation to provide us with such data, however, some of them are essential requirements to be able to subscribe***</b></p>
    <p>We may also retain personal just for a few moments in our data services, you can delete your account any moment you want, when you delete your account or make a request to delete your account it will be deleted as soon as possible from our database</p>
    <h3>Cookies</h3>
    <p>We inform you that we have electronic technologies (cookies) that allow us to collect data on your activity electronically and simultaneously while you access our platform. The data we collect is:</p>
    <h4>VerbsApp Cookies: </h4>
    <ul>
        <li><b>cookie</b> This cookie is used for authentication It lasts 1 hour</li>
    </ul>
    <h3>Security</h3>
    <p>VerbsApp has implemented generally accepted standards of technology and operational security to protect personal data from loss, misuse, alteration, or destruction.</p>
    <p><b>***VerbsApp cannot guarantee that unauthorized persons will not obtain access to your personal data***</b></p>
    <h3>Changes to Privacy Policy</h3>
    <p>We reserve the right to make changes to this Privacy Policy from time to time. We will alert you to any such changes by updating this Privacy Policy. If we make material changes to this Privacy Policy that increase our rights to use personal data that we have previously collected about you, we will notify you through an email to your registered email address with information about the changes on our Site.</p>
    </div>
</section>
