.team{
    max-width: 100vw;
    height: 80vh;
}
.team_title{
    max-width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team_title h2{
    font-size: 2.5rem;
}
.team_members_container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}