<section class="error">
    <img class="server" src="/images/errors/fire.png" alt="error404">
    <p class="statusCode"> <span class="four_1">5</span> <span class="cero">0</span>  <span class="four_2">5</span></p>
    <h1> <span>Oops!</span> Something went wrong with this page..!!</h1>
    <h3>We have sent an email to our team in order to resolve this issue as soon as possible</h3>
    <p>If the error persists, contact us by <a href="mailto:verbsappsupport@gmail.com"></a></p>
    <h5>Error: bad request</h5>
    <a [routerLink]="['/']">Back Home</a>
</section>
