<div class="team_card">
    <div>
        <img src="/images/eublan.jpg" alt="">
    </div>
    <div>
        <div class="team_card_info">
            <h4>Eublan Mata</h4>
            <p>Creator</p>
            <p>Industrial Maintenance Engineer</p>
            <p>Backend Developer</p>
        </div>
        <div class="team_card_socialmedia">
            <a href="https://www.linkedin.com/in/eublan-mata/" target="_blank">
                <!-- <img src="/images/social/linkedin.png" alt=""> -->
                <i class="fab linkedin"></i>
            </a>
            <a href="https://github.com/EumT07" target="_blank">
                <!-- <img src="/images/social/linkedin.png" alt=""> -->
                <i class="fab github"></i>
            </a>
        </div>
    </div>
</div>
