<div class="house_ico">
    <a [routerLink]="['/']">
        <i class="fa house"></i>
    </a>
</div>
<section class="terms">
    <div class="info_container">
    <h1>Term of use VerbsApp</h1>
    <p>VerbsApp provides its content on its website that posts a link to this Terms of Use (the “Site”) subject to the following terms and conditions (the “Terms”). We may periodically change the Terms without prior notice, so please check back from time to time. </p>
    <p>By accessing and using this Site, you agree to these Terms. For an explanation of VerbsApp practices and policies related to the collection, use, and storage of our users’ information, please read our <a [routerLink]="['/privacy-policy']">Privacy Policy</a></p>
    <h3>Create an Account</h3>
    <p>The user must create an account with their personal information, mainly by entering a nickname, email and, password, for the entry and use of the website, users' can know about how we use their personal data here <a [routerLink]="['/privacy-policy']">Privacy Policy</a></p>
    <h3>Delete Account</h3>
    <p>Users can delete their accounts at any time. If the subscriber or user wishes to delete their account, they accept that they will lose all information related to their activities within the website, information that cannot be recovered according to a determined time already established.</p>
    <h3>Privacy</h3>
    <p>VerbsApp is obliged and undertakes to keep the personal data collected by the user and/or subscriber in the strictest confidence. To learn more about the protection of your personal data, please consult our <a [routerLink]="['/privacy-policy']">Privacy Policy</a></p>
    <h3>Cookies</h3>
    <p>The user and/or subscriber who has access to the website agrees and accepts the use of our cookies.
    A "Cookie" is a data file that is stored on the hard drive of the user's and/or subscriber's computer when they access the website. These files may contain information such as the identification (name, email, etc.) it never will contain sensible information as (password) provided by the user and/or subscriber, for the use of authentication to access the website, please consult our <a [routerLink]="['/privacy-policy']">Privacy Policy</a></p>
    <h3>Conctats</h3>
    <p>If you are facing any issues with this website, you can contact us by <a href="mailto:taskappsupport@gmail.com">VerbsAppsupport.com</a> (fake email) or with my personal data: </p>
    <ul>
        <li>Creator: Eublan Mata</li>
        <li>Telegram: </li>
        <li>Email: <a href="mailto:mail@gmail.com">mail.com</a> </li>
    </ul>
    </div>
</section>
