<!-- <section class="FAQ">
    <div class="title">
        <h2>FAQS</h2>
    </div>
    <div class="questions">
        @for (question of questions; track $index) {
            <article class="article-questions">
                <div class="question">
                    <h4>{{question.question}}</h4>
                <button class="question-btn">
                    <i class="fa up"></i>
                    <i class="fa down"></i>
                </button>
                </div>
                <div class="answer">
                    <p>{{question.answer}} </p>
                </div>
            </article>
        }
    </div>
</section> -->

<section id="faqs" class="faqs section">
    <div class="container scroll_movement">
      <h2>{{translate('faqs.title')}}</h2>
      <div class="faq-grid">
        @for (faq of faqs; track $index; let i = $index) {
            <div class="faq-item">
                <div class="faq-question" (click)="toggleFaq(i)" [class.active]="faq.isOpen">
                <h3>{{ translate(faq.question) }}</h3>
                <span class="icon">{{ faq.isOpen ? '−' : '+' }}</span>
                </div>
                <div class="faq-answer" [class.active]="faq.isOpen">
                <p>{{ translate(faq.answer) }}</p>
                </div>
            </div>
        }
      </div>
    </div>
  </section>