<section class="FAQ">
    <div class="title">
        <h2>FAQS</h2>
    </div>
    <div class="questions">
        <!-- first question -->
        @for (question of questions; track $index) {
            <article class="article-questions">
                <div class="question">
                    <h4>{{question.question}}</h4>
                <button class="question-btn">
                    <i class="fa up"></i>
                    <i class="fa down"></i>
                </button>
                </div>
                <div class="answer">
                    <p>{{question.answer}} </p>
                </div>
            </article>
        }
    </div>
</section>
