.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(58, 56, 56, 0.76);
    z-index: 20;
}

.modal__content{
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 100vh;
    background-color: #ffffff;
    padding-right: 20px;
}
.close_icon_container{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.close_icon_container:hover{
    background-color: #c2baba77;
    cursor: pointer;
}
.close_icon::before{
    content: "\f00d";
    color: #6d6969c7;
    font-size: 20px;
}

.modal_info_container{
  height: 90vh;
  position: relative;
  top: 50px;
  padding: 0 20px;
  overflow: auto;
}
.modal_info_content{
  padding-right: 10px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal_info_title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tense_content{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
}
.verbsTense_container{
  width: 100%;
  margin-top: 15px;
}
.tense_container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipa_verb_container {
  width: 80%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ipa_verb_lng {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.ipa_verb_lng > img{
  width: 45px;
  height: 48;
}
.ipa_verb_lng > div{
  background-color: rgba(203, 207, 206, 0.192);
  width: 180px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ipa_verb_lng div > .ipa_text{
  color: rgb(113, 116, 117);
}

.ipa_icon_container{
  width: 35px;
  height: 35px;
  background-color: rgba(111, 114, 113, 0.192);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;

}
.exmp_content{
  padding-right: 10px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/*Loading*/
.loading_icon_modal{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
