<section id="about" class="about">
    <div class="scroll_movement">
      <h2>{{translate('about.title')}}</h2>
      <div class="about-content">
        <div class="about-image">
          <img src="/images/CapybaraEnglish1.png" 
               alt="Our teaching methodology"
               loading="lazy">
        </div>
        <div class="about-text">
          <h3>{{translate('about.subtitle')}}</h3>
          <p>{{translate('about.description')}}</p>
          <ul>
            <li>{{translate('about.feature1')}}</li>
            <li>{{translate('about.feature2')}}</li>
            <li>{{translate('about.feature3')}}</li>
            <li>{{translate('about.feature4')}}</li>
          </ul>
          <p>{{translate('about.success')}}</p>
        </div>
      </div>
    </div>
  </section>
