<section  class="bugs ">
  <div class="house_ico">
    <a href="/">
        <i class="fa house"></i>
    </a>
</div>
    <div class="bugs-content scroll_movement">
      <div>
        <div class="bugs-image">
          <img class="slide-in-right" 
          src="/images/CapybaraEnglish7.png" 
               alt="Students learning English"
               loading="lazy">
        </div>
      </div>
      <div class="bugs-text slide-in-left">
        <h1>Capybara English Bugs</h1>
        <p>Hi there, first thanks for take the time and report any issues, this action really help me to improve my programming skills.</p>
        <div class="buttons">
          <a  class="cta-button jello-horizontal" target="_blank" href="https://github.com/EumT07/CapybaraEnglish-issues/issues/new">
            <i class="fab github"></i>
          </a>
          <a class="cta-button jello-horizontal" target="_blank" href="https://telegram.me/Eumt07">
            <img src="/images/social/telegram.png" alt="telegram">
          </a>
        </div>
      </div>
    </div>
  </section>
