  .bugs {
    max-width: 100vw; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  .bugs-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
  }
  .bugs-content > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bugs-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rm;
  }

  .bugs-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    text-align: center;
  }

  .bugs-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .bugs-image {
    align-self: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bugs-image img {
    max-width: 70%;
    height: auto;
    border-radius: 1rem;
  }
  .buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .buttons a {
    cursor: pointer;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buttons a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .github::before{
    content: "\f09b";
    color: #000;
    font-size: 60px;
  }
  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
            animation: jello-horizontal 0.9s both;
            animation-delay: 1.2s;
  }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 960px) {
    .house_ico{
      top: 40px;
      left: 40px;
    }
    .bugs{
      padding: auto;
    }
    .bugs-content {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .bugs-text{
      height: 40vh;
    }

    .bugs-text h1 {
      font-size: 2.5rem;
    }
    .bugs-image{
      width: 55%;
      max-width: none;
    }
  }

@media (max-width: 360px) {
    .house_ico{
      top: 20px;
      left: 20px;
    }
    .bugs{
      padding: 1rem 0;
    }
    .bugs-content{
      padding: 1rem;
    }
    .bugs-text{
      padding: 0rem;
    }
    .bugs-text h1{
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .bugs-text p {
      margin-top: 1rem;
    }
    .bugs-image{
      width: 200px;
      height: 280px;
    }
    .buttons{
      width: 70%;
    }
  }