<section id="team" class="team">
    <div class=" scroll_movement">
      <h2>{{ translate('team.title') }}</h2>
      <div class="team-grid">
        <div class="team-member">
          <div class="member-image-container">
            <img 
              src="/images/eublan.jpg" 
              alt="Team member"
              loading="lazy"
            >
            <div class="social-links">
              <a href="https://www.linkedin.com/in/eublan-mata/" target="_blank" rel="noopener noreferrer">
                <i class="fab linkedin"></i>
              </a>
              <a href="https://github.com/EumT07" target="_blank" rel="noopener noreferrer">
                <i class="fab github"></i>
              </a>
            </div>
          </div>
          <h3>{{ translate('team.creator') }}</h3>
          <p>{{ translate('team.role') }}</p>
        </div>
      </div>
    </div>
  </section>
