.team {
    background-color: var(--bg-color);
    height: auto;
  }

  .team h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 3rem;
  }

  .team-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .team-member {
    text-align: center;
    max-width: 300px;
  }

  .member-image-container {
    position: relative;
    overflow: hidden;
    /* border-radius: 1rem; */
    border-radius: 50%;
    /* margin-bottom: 1rem; */
  }

  .member-image-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  .social-links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .member-image-container:hover .social-links {
    opacity: 1;
  }

  .member-image-container:hover img {
    transform: scale(1.1);
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }

  p {
    color: var(--text-color);
    opacity: 0.8;
  }

  .instagram::before{
    content: "\f16d";
    color: white;
}
.xico::before{
    content: "\e61b";
    color: white;

}

.linkedin::before{
    content: "\f08c";
    color: white;
    font-size: 30px;
    align-self: center;

}
.github::before{
    content: "\f09b";
    color: white;
    font-size: 30px;
}

  @media (max-width: 800px) {
    .team h2 {
      font-size: 2rem;
    }
    .team {
      height: auto;
    }
    .team-grid {
      padding: 0 1rem;
    }
  }